*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.container {
    /* Barreira */
    color:rgb(255, 255, 255);
    width: 580px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;

}


.titulo{
    /*quadrado azul e a escrita*/
    width: 100%;
    height: 8.4vh;
    float: left;
    padding: 20px;
    background-color: #2296f3;
    font-size: 1.7em;
    color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
#titulo{
    /* OQ define a possicao do azul */
display: flex;
text-align: left;
}
#img{
/* possicao da imagem */
    display: flex;
    justify-content: center;

}
img{
    /* oq faz a imagem muda de tamanho */
width: 50%;
height: auto;
margin-top: 140px;
margin-bottom: 30px;
}

#login{
    /* oq posicao do formulario */
    width: 100%;
    height: auto;
    padding: 4%;


}


.formulario{
    /* oq meche dentro do formulario */
    width: 100%;
    height: 8.8vh;
    border: 2px solid;
    border-radius: 5px;
    background: #ffffff;
    text-indent: 8px;
    outline: none;
    font-size: 1.7em;
    padding: 5px;
    border-color: #b9b8b8;;

}
.formulario:focus{
    /* escrita dentro do formulario */
    background: #ececec;
    color: #b9b8b8;
}
.formulario::placeholder{
    /* passa o mouse por cima */
    color: #969696;
    font-size: 0.8em;
}
#email{
    /* tamanho do email */
    margin-bottom: 20px;

}
#recuperar-senha{
    /* aparencia do recuperar senha */
    text-align: center;
    color: #354b5e;
    margin: 20px;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
#botao-login{
    /* posicao do botao login */
    display: flex;
    justify-content: center;

}
.botao-login{
    /* aparencia do botao login */
    width: 66%;
    margin-bottom: 20px;
    height: 7.9vh;
    border: 0;
    border-radius: 30px;
    background: #2296f3;
    font-size: 2.2em;
    color: #ffffff;
    cursor: pointer;
}




#botao-create{
    /* botao criar conta */
    display: flex;
    justify-content: center;
    
}
.botao-create{
    /* aparencia do criar conta */
    text-align: center;
    color: #414141;
    margin: 20px;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border: 0;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.35vh; 

}
@media (max-width: 700px){
/* pra celular */
    .container {
        /* tamanho da tela pra celualr */
        color:rgb(255, 255, 255);
        width: 310px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;
    
    }

}
